:root{
    --card:#ddf8fe;
    --box:0px 19px 60px rgba(0, 0, 0, 0.771);
    --Card2: rgba(82, 108, 240, 0.45);
    --box2:-79px 51px 60px rgba(0 0 0 0.8);
}

.App{
    padding: 0.5rem 3.5rem;
    overflow: hidden;
    color: #242d49;
}

@media screen and (max-width: 480px) {
    .App{
        padding: 0.5rem 1rem;
    }
}